################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/pointer_head.sln
/data_handler/data_handler.pyproj
/data_handler/data
/data_handler/__pycache__
