################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/pointer_head.sln
/data_handler/data_handler.pyproj
/data_handler/data
/data_handler/__pycache__
/data_handler/PostDataGenerator/__init__.py
/data_handler/PostDataGenerator/InputEstimators/__pycache__
/data_handler/PostDataGenerator/__pycache__
/simple_ml_exp/__pycache__
/tester
/simple_ml_exp/simple_ml_exp.pyproj
/module1.py
/RecordSplitter/Files
